<html>
<head>
    <style>
        .black {
            color: black !important
        }
    </style>
</head>
<body>
<div class="black">
    <h2>Witaj{% if client %} {{ client.imie }}{% endif %}!</h2>

    Dziękujemy za skorzystanie z naszych usług.<br>
    <br>
    Bilety zostały przesałane w załączniku.<br>
    W razie wszelkich wątpliwości prosimy o kontakt pod nr: XXX-XXX-XXX.<br>
    Życzymy miłego seansu.
    <br>
    <h2>Pozdrawiamy!</h2><br>
</div>
</body>
</html>

