<html>
<head>
    <style>
        .black{
            color: black !important
        }
    </style>
</head>
<body>
<div class="black">
    <h2>Witaj {{ user.imie }}</h2>
    <br>
    Twoje nowe hasło to:<br>
    <h3>{{ password }}</h3>
    <h2>Pozdrawiamy!</h2>
</div>
</body>
</html>